<div class="container">
  <div class="container">
    <h3 class="text-center mt-5 mb-5">CONOCE NUESTRO TRABAJO</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-justify">Nuestros trabajos hablan por si solos, nos caracterizamos por hacer trabajos de calidad
          satifaciendo las necesidades de nuestros clientes
          a precios accesibles manteniendo la relacion en precio/calidad.
        </p>
        <ul>
          <li>
            <p>Excelencia en nuestro servicios</p>
          </li>
          <li>
            <p>Trabajos de Calidad</p>
          </li>
          <li>
            <p>Los mejores precios</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="/../../assets/images/img1.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<section>
  <app-trabajos></app-trabajos>
</section>

