<div class="container">
  <div class="container">
    <h3 class="text-center mt-5 mb-5">¿QUIENES SOMOS?</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis harum, natus quod explicabo cum dolore modi labore ad ipsa numquam architecto tempora voluptas nulla! Beatae eius quas laboriosam officiis impedit?</p>
      </div>
      <div class="col-md-6">
        <h5 class="text-center">Misión</h5>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, esse? Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Quam, recusandae.</p>
      </div>
      <div class="col-md-6">
        <h5 class="text-center">Visión</h5>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, eum! Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Autem, expedita?</p>
      </div>
    </div>
  </div>
</div>
