<mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="primary" maxWidth="auto" proportion="45"
  slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
  orientation="ltr">
  <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
    overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
</mat-carousel>

<app-about></app-about>

<app-servicios></app-servicios>

<div class="container">
  <div class="container">
    <h3 class="text-center mt-5 mb-5">CONOCE NUESTRO TRABAJO</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-2">
        <p class="text-justify">Nuestros trabajos hablan por si solos, nos caracterizamos por hacer trabajos de calidad
          satifaciendo las necesidades de nuestros clientes
          a precios accesibles manteniendo la relacion en precio/calidad.
        </p>
        <ul>
          <li>
            <p>Trabajos de Calida</p>
          </li>
          <li>
            <p>Mejores precios</p>
          </li>
          <li>
            <p>Mejores precios</p>
          </li>
        </ul>
        <div class="d-flex justify-content-md-center">
          <a [routerLink]="['/contacto']" class="btn btn-outline-warning">Contactanos</a>
        </div>

      </div>
      <div class="col-md-6 mt-2">
        <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto"
          proportion="65" slides="5" [loop]="true" [hideArrows]="true" [hideIndicators]="true" [useKeyboard]="true"
          [useMouseWheel]="false" orientation="ltr">
          <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slidesend; let i = index" [image]="slide.image"
            overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
        </mat-carousel>
      </div>
    </div>
  </div>
</div>
