<div class="mt-5" style="background-color: #263238;">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-warning text-center">Nosotros</p>
            </div>
            <div class="col">
                <p class="text-warning text-center">Ayuda</p>
            </div>
            <div class="col">
                <p class="text-warning text-center">Blog</p>
            </div>
            <div class="col">
                <p class="text-warning text-center">Contacto</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-md-center" style="background-color: #37474F;">
        <span class="text-white"> &copy;{{year}} <script>document.write(new Date().getFullYear())</script> JEMADI Construcciones S.A de C.V. Todos los derechos reservados</span>
    </div>
</div>
